
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
}

header {
    height:3em;
    font-size:3em;
    background-color: #CCCCCC;
    .iso-logo {
        background-image: url('../../assets/etklogo2018.png');
        background-repeat: no-repeat;
        background-size: 2rem 3rem;
        margin: auto;
        padding:0 3rem;
        width:"100px";
    }
}

.password-input {
    width: 200px;
}

.register-user-form {
    margin: 0px 20px;
}

.register-input {
    width:40%;
    margin: 20px;
}

.register-button {
    margin: 40px;
}
.login-form{
    position:absolute;
    right:30px;
    background-color: #dcdcdc;
    border-radius: 5%;
    margin:auto;
    padding: 5px 15px;
}
.login-input {
    .root-css{
        background-color: #DADADA;
        border-radius: 0px;
        text-decoration: none;
        margin-bottom:5px;
        font-size:10px;
        border: 1px solid #aaa;
        width:100px;
    }
    .formControl-css {
        font-size:10px;
    }
    input, label {
        padding: 0 2px 2px 2px;
        top:-11px;
    }
    .shrink-label {
        top:0px;
    }
}

.login-button {
 //   margin: 40px;
    .root-css {
        color:white;
        background-color:#aaa;
        border-color: #ccc;
        width: 100px;
        min-height: 20px;
        font-size: 10px;
        &:hover {
            border-color: #ccc;
        };
    }
    .label-css {

    }
    .outlined-css {

    }
}

.paper-width-sm {
    height:200px;
    .login-form{
        position:unset;
        margin:0px 10px;
    }
}

.news {
    img { 
        width:150px;
        height: 150px;
        float:left;
    }
    figCaption {
        font-size: 9px;
    }
    p {
        font-size:10px;
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 1em;
        line-height: 1em;
        float:right;
    }
}