
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
}

header {
    height:3em;
    font-size:3em;
    background-color: #CCCCCC;
    div {
        margin: auto;
        width: 25%;    
    }
}