
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
}

header {
    height:3em;
    font-size:3em;
    background-color: #CCCCCC;
    .iso-logo {
        background-image: url('../../assets/etklogo2018.png');
        background-repeat: no-repeat;
        background-size: 2rem 3rem;
        margin: auto;
        padding:0 3rem;
        width:"100px";
    }
}


